@value makerShadow, makerWhite,makerBlack from '../../common/colors.css';

.form {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 10px 0;
  background-color: makerWhite;
  border-radius: 10em;
  box-shadow: 6px 6px 8px 0px makerShadow;
}

.input,
.select {
  width: 100%;
}

.input,
.textarea,
.select {
  font-size: 18px;
  font-weight: 100;
  border: 0;
  padding: 0.5em;
  border-bottom: 2px solid lightgray;
  border-right: 1px solid lightgray;
  background: makerWhite;
}

.input:focus,
.textarea:focus,
.select:focus {
  outline: none;
}

.textarea {
  width: 90%;
  height: 100px;
}

.inputFooter {
  display: flex;
  width: 100%;
}
