@value makerBlack from '../../common/colors.css';
@value makerWhite from '../../common/colors.css';
@value makerBlueBottle from '../../common/colors.css';

.game {
  display: flex;
  width: 25%;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 300px;
  padding: 10px;
  margin: 0.6em;
  background-color: makerWhite;
}

.imgContainer {
  width: 100%;
  height: 200px;
}

.img {
  width: 100%;
  height: 100%;
}

.title {
  padding: 10px 0;
  color: makerBlack;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: -0.2px;
  text-align: center;
}

.button {
  width: 80px;
  height: 35px;
  border: 1px solid makerBlack;
  border-radius: 4px;
  background-color: makerWhite;
  color: makerBlack;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.4s;
}

.button:hover {
  background-color: makerBlack;
  color: makerWhite;
}

@media screen and (max-width: 1200px) {
  .game {
    width: 33.33%;
  }
}

@media screen and (max-width: 800px) {
  .game {
    width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .game {
    width: 80%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 400px) {
  .game {
    width: 90%;
  }
}
