@value makerLight, makerShadow, makerWhite, makerBlack from '../../common/colors.css';

.card {
  display: flex;
  align-items: center;
  margin: 10px 0;
  background-color: makerWhite;
  border-radius: 1em;
  box-shadow: makerShadow;
}

.card.dark {
  background-color: makerBlack;
}
.card.light {
  background-color: makerLight;
}

.avatar {
  margin-left: 10px;
  border: 1px solid black;
}

.info {
  flex-basis: 100%;
  padding-left: 20px;
}

.hello {
  font-size: 28px;
  font-weight: bold;
}
.auth {
  font-size: 18px;
  font-weight: 400;
}

.textarea {
  width: 50%;
  margin-top: 20px;
}
