@value makerWhite,makerBlack from '../../common/colors.css';

.card {
  display: flex;
  align-items: center;
  margin: 10px 0;
  background-color: makerWhite;
  border: 1px solid makerBlack;
}

.avatar {
}

.info {
}

.hello {
  font-size: 28px;
  font-weight: bold;
}
.auth {
  font-size: 20px;
  font-weight: 400;
}
